body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
} */
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 30px;
  background-color: #bec6c897;
  border-radius: 5px;
  margin-bottom: 20px;
}
.nav-link {
  font-family: monospace;
  padding: 5px;
  border: 1px solid #bec6c897;
  border-radius: 5px;
  background-color: #bec6c897;
}
.container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.form-container {
  display: flex;
  max-height: 420px;
}

.img {
  width: 100%;
  background: url('./img/Envy-Colt.png') center/contain no-repeat;
}
.img2 {
  width: 100%;
  background: url('./img/koltColors.png') center/cover no-repeat;
  border-radius: 5px;
  margin: 0 0 0 10px;
}
.form {
  width: 75%;
  font-style: italic;
  gap: 15px 0;
  padding: 12px;
  background-color: #5a5f6f;
  color: #fff;
  border-radius: 3px;
}

input,
select {
  width: 100%;
  border: none;
  outline: none;
  background-color: #5a5f6f;
  border-bottom: 2px solid #fff;
  color: #fff;
  margin: 6px 0;
}
form h4 {
  padding: 8px;
  line-height: 30px;
}
form input {
  font-size: 16px;
  margin-bottom: 15px;
  padding: 7px;
}

form input.ride {
  display: block;
  align-self: flex-start;
  width: 30%;
}
.heading,
.flex-card h4,
.sorting,
.form h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px 20px 10px;
}
.heading {
  padding: 0;
}
.field {
  width: 80%;
  display: flex;
  align-items: center;
}
.flex-row .isAvailable,
.flex-row .isBusy,
h4.isAvailable,
h4.isBusy,
select.isAvailable,
p.isAvailable,
li.isAvailable {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15%;
  height: 30px;
  margin: 0 7px;
  background-color: #5db75f;
  border: 2px solid #fff;
  border-radius: 5px 15px;
  font-size: 20px;
  font-family: cursive;
}

li.isAvailable {
  display: flex;
  width: fit-content;
  height: 32px;
  align-items: center;
}
.flex-row .isBusy,
h4.isBusy,
p.isBusy,
li.isBusy {
  background-color: #d45449;
  border-radius: 15px 5px;
  border: 2px solid #fff;
}
h4.isAvailable,
h4.isBusy,
select.isAvailable {
  width: fit-content;
}
li.isBusy {
  margin: 5px 0;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  gap: 15px 0;
  padding: 16px 0 16px 20px;
  background-color: #5a5f6f;
  color: #fff;
  border-radius: 3px;
  margin: 20px 0;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-card .flex-row p,
.flex-card .flex-row h4,
.sorting {
  font-size: 16px;
  width: 18%;
  padding: 5px;
  border-bottom: 1px solid #fff;
  overflow-wrap: break-word;
}
.flex-row.user p,
.flex-row.user h4 {
  width: 11%;
}
select.sorting,
.search input {
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  margin: 7px 3px;
  background-color: #202122;
  border: 3px solid #777c8a;
  border-radius: 5px;
  text-overflow: ellipsis;
  transition: all 0.3s ease-out;
}
.sorting:hover,
.search input:hover {
  background-color: #777c8a;
}
.sorting .btns {
  width: 10%;
}

.btns {
  display: flex;
  flex-direction: column;
}
.btns-modal {
  display: flex;
  justify-content: space-between;
}
.edt,
.close {
  fill: #1b8b19;
}
.put {
  fill: #1970bb;
}
button.dlt,
button.edt,
button.put,
button.close {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #85c086;
  border: 5px solid #4e8d4e;
  color: #fff;
  padding: 7px;
  margin: 8px;
  cursor: pointer;
  justify-items: flex-end;
  overflow-wrap: break-word;
}
button.dlt {
  background-color: #ea766c;
  border: 5px solid #d45449;
}
.dlt:hover {
  transform: scale(1.1);
  box-shadow: 2px 1px 10px #ea766c;
}
.edt:hover,
.close:hover {
  transform: scale(1.1);
  box-shadow: 2px 1px 10px #85c086;
}
button.put {
  background-color: #99bbd7d1;
  border: 5px solid #1970bb;
  float: right;
}
.put:hover,
.edt.book.com:hover {
  transform: scale(1.1);
  box-shadow: 2px 1px 10px #99bbd7d1;
}

.modal-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0a0a0ae5;
}
.modal {
  border: 3px solid #4e8d4e;
  position: relative;
  display: flex;
  width: 90vw;
  height: 90v;
  max-width: 500px;
  background-color: #5db75f;
  align-items: center;
  border-radius: 5px;
}
.right-side.form {
  font-style: italic;
  gap: 15px 0;
  background-color: #5a5f6f;
  border-radius: 0;
  color: #fff;
}
.right-side.form h4 {
  font-size: 16px;
}
.right-side.form label {
  font-size: 16px;
}
.modal .right-side {
  width: 55%;
  height: 90vh;
}
.modal .left-side {
  text-align: center;
  font-family: cursive;
  width: 45%;
}
.user-com {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 16px;
  border: 2px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 10px 15px;
  padding: 3px;
}
.user-info {
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: left;
}
.left-side p {
  font-family: cursive;
  line-height: 25px;
  margin: 10px 0;
}
.left-side b {
  text-decoration: underline;
}

.left-side h2 {
  margin-bottom: 10px;
  font-style: italic;
}
.left-side h3 {
  margin: 10px 0;
}
.left-side h4 {
  margin: 16px;
}

fieldset {
  padding: 0 0 10px 10px;
}

.statistic {
  display: flex;
  font-family: monospace;
  margin: 30px 0;
  padding: 10px;
}
.statistic p {
  font-size: 24px;
  width: 50%;
  padding: 0 10px;
  border-left: 2px solid #fff;
}
.statistic p b {
  font-size: 24px;
}

.close-x {
  background-color: #ea3d16;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.lastUsed {
  width: 100%;
  background-color: #5db75f;
  padding: 5px;
  border-radius: 5px;
}
img.scooter {
  width: 90%;
  border-radius: 5px;
}

.color h4,
.color p,
.color > div {
  width: 17%;
  font-size: 20px;
}
.colors {
  border-radius: 50%;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-family: cursive;
}
.form.color {
  width: 50%;
}

/* FRONT */
.flex-card.front {
  background: linear-gradient(rgba(21, 22, 22, 0.855), rgba(20, 21, 20, 0.888)),
    url('./img/front.png');
  padding-top: 200px;
  border-radius: 7px;
}
.flex-container.group {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  border: 2px solid #4e8d4e;
  border-radius: 5px;
  padding: 0 40px 15px 30px;
  margin-bottom: 50px;
}
.flex-container.group ul {
  list-style-type: none;
}
.group ul li,
.group ol li {
  text-align: left;
  line-height: 77px;
}
li.isBusy {
  width: fit-content;
  min-width: 80px;
  margin: 30px 0 40px 0;
}
.group h2 {
  margin-bottom: 10px;
}
.flex-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-container h2 {
  padding-top: 15px;
}
.flex-container > div p {
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  width: 100%;
  line-height: 25px;
}
.flex-container p.isAvailable,
.flex-container p.isBusy {
  height: 30px;
  max-width: 100px;
}
.flex-container div .ready_btns,
.flex-container div .busy_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.book.com {
  background-color: #3b96e1d7;
  border: 5px solid #1970bb;
}
div.btns.book {
  justify-content: center;
}
button.edt.book,
button.dlt.book,
.book svg {
  font-size: 18px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.busy_btns:first-of-type {
  padding-top: 25px;
}

/* MODAL REG FORM */
.modal-cont.reg {
  display: flex;
  justify-content: center;
}
.modal.reg {
  background: linear-gradient(#45464cda, #a9baa0b1),
    url('./img/ColtReg.jpeg') center/cover no-repeat;
  width: 80%;
  padding: 20px;
  align-items: end;
  border: 2px solid #202122;
}
.modal.reg.distance,
.login {
  background: linear-gradient(
      rgba(69, 70, 76, 0.855),
      rgba(168, 186, 159, 0.848)
    ),
    url('./img/Envy-Colt2.png') center/cover no-repeat;
}
.close-x.reg {
  background-color: transparent;
}
.close-x.reg:hover {
  transform: scale(1.2);
  background-color: #bb3119da;
}
.regInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lastUsed.reg {
  background-color: #5db75f7a;
  width: fit-content;
  height: fit-content;
}
.isAvailable.reg {
  font-size: 16px;
  padding: 3px 10px;
  color: #fff;
  background-color: #5db75f4c;
  align-items: center;
}
.field.reg h4 {
  width: 50%;
}
form.reg {
  text-align: left;
}
form.reg label {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  padding-left: 10px;
}
form.reg input {
  max-width: 100%;
  background-color: #fff;
  border: 2px solid #1b8b19;
  color: #3bae42bf;
  border-radius: 5px;
}
form.reg input::placeholder,
form.reg textarea::placeholder {
  color: #3bae42bf;
  font-size: 14px;
}
form.reg textarea {
  min-width: 100%;
  border-radius: 5px;
  padding: 8px;
  color: #3bae42bf;
  font-size: 16px;
  resize: none;
  border: 2px solid #1b8b19;
  outline: none;
}
.btns.reg {
  flex-direction: row;
  justify-content: space-between;
}
button.close.reg {
  font-size: 14px;
  width: 60px;
  box-shadow: 5px 5px 15px #111112d1;
}
button.put.reg {
  font-size: 13px;
  width: 65px;
  box-shadow: 5px 5px 15px #232424d1;
}

/* COMMENT */
.comment {
  width: 90%;
  border: 2px solid #8a858571;
  border-radius: 5px;
  padding: 10px;
}
.feedback {
  justify-content: space-between;
  display: flex;
}
.feedback .com {
  width: 100%;
}
.feedback form {
  min-width: 135px;
  max-width: 600px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.comment label {
  font-family: cursive;
  margin: 20px 0 10px 0;
}
.feedback form .rateIt {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  padding-left: 20px;
}
.rateIt img {
  width: 55%;
}
form .rateIt select {
  font-size: 25px;
  width: 60px;
  margin-left: 10px;
}
.feedback form h1 {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-family: cursive;
  font-size: 50px;
  border-radius: 5px;
  /* color: #d49111;
  box-shadow: 5px 10px 20px #d4911c; */
}
h1 b {
  padding-right: 7px;
}
.comment select {
  border-radius: 5px;
  background-color: #333;
  border: 2px solid #777;
}
.comment textarea {
  height: 85px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  outline: 2px solid #1b8b19;
  resize: none;
  padding: 10px;
}
.comment button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  align-self: flex-end;
}
.comment ul {
  width: 100%;
  padding: 10px 20px 10px 20px;
}
.comment ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: left;
  font-size: 17px;
}
.comment li {
  border: 1px solid #8a858571;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .flex-row.color h4 {
    font-size: 14px;
  }
  .right-side.form h4,
  .right-side.form label,
  .right-side.form select,
  .right-side.form input {
    font-size: 16px;
    line-height: 16px;
  }
  .flex-container div p {
    font-size: 14px;
  }
  .flex-container.group li,
  .flex-container.group h2 {
    font-size: 50%;
  }
}

@media screen and (max-width: 650px) {
  .flex-container.group li,
  .flex-container.group h2 {
    font-size: 65%;
  }
}

@media screen and (max-width: 750px) {
  .flex-container.group li,
  .flex-container.group h2 {
    font-size: 75%;
  }
}

@media screen and (max-width: 975px) {
  .container {
    width: 95%;
  }
  .btns {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .btns.book {
    width: 20%;
    margin-left: 10px;
  }
  .flex-card p,
  .flex-card h4,
  .sorting {
    font-size: 16px;
    width: 19%;
    padding: 5px;
    border-bottom: 1px solid #fff;
    overflow-wrap: break-word;
  }
  .statistic p {
    font-size: 16px;
  }
  .statistic p b {
    font-size: 19px;
  }
  .flex-container {
    width: 95%;
  }
  .flex-container div p {
    font-size: 16px;
  }
}

.show-message {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.alert {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
